.header  {
  font-family: monospace;
  background: #ff89ac;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: antiquewhite;
  background: #ff89ac;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  padding: 15px 6.5px 15px 6.5px;
}

a {
  font-size: 22px;
  background: hsla(342, 100%, 83%, 0.473);
  padding: 8px;
  text-decoration: none;
  color:antiquewhite;
}